body {
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100%;
    
}

.background {
    background-image: url("images/original.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 3px solid #22577a;
    text-align: center;
    padding: 20px;
    background-color: rgb(219, 242, 255);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
   
}

.btn:hover {
    background-color: azure;
}